# Common
PLATFORM_NAME=Android
DEVICE_NAME=Android Emulator
PLATFORM_VERSION=14.0

# Android SDK Path (Local only)
ANDROID_HOME=C:\Users\YOUR_USER\AppData\Local\Android\Sdk

# iOS Specific
IOS_DEVICE_NAME=iPhone 15
IOS_PLATFORM_VERSION=17.0
IOS_UDID=auto
